body {
    font-family: "Noto Sans JP";
    font-size: "25px";
    text-align: center;
    background-color: #222;
}

#frame {
    border: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    user-select: none;
}

.container {
    margin-top: 10%;
    font-family: "Noto Sans JP";
    font-size: "50px";
    color: #FFF;

}

.container p {
    font-size: 50px;
    margin-bottom: 2px;
}

#iurl {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #FFF;
    font-family: "Roboto";
    font-size: 16px;
    color: #eee;
    padding: 8px 0px;
    margin-bottom: 5px;
    box-sizing: content-box;
    text-align: center;
    border-radius: 2px;
}

.btn {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #0066ff;
    font-family: "Roboto";
    font-size: 16px;
    color: #0066ff;
    padding: 8px 0px;
    box-sizing: content-box;
    transition: 0.3s;
    border-radius: 2px;
}

.btn:hover {
    background: #0066ff;
    color: #fff;
}

.container a {
    height: 20px;
    background: inherit;
    color: #ddd;
    border: 0;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 17px;
    transition: 0.3s;
}

.container a:hover {
    font-size: 23;
}

.url {
    width: 300px;
    margin: auto;
} 

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.black_text {
  color: black;
}
